In [1]:
import pandas as pd
import numpy as np
df1 = pd.DataFrame(np.random.randn(6, 4),
    index=list('abcdef'),columns=list('ABCD'))

In [2]:
df1

          A         B         C         D
a  1.282479  0.946747 -1.196755 -1.568831
b  0.960616  1.148967  0.289785  0.338350
c -0.812031 -0.408394  1.036876  1.018705
d -0.076554 -1.116968  0.190509  1.032476
e -0.560559 -2.004797 -1.732845 -0.403581
f -1.314003 -0.156767 -1.405891 -2.684453

In [3]:
df1.loc[lambda df: df.A > 0, :]

          A         B         C         D
a  1.282479  0.946747 -1.196755 -1.568831
b  0.960616  1.148967  0.289785  0.338350

In [4]:
df1.loc[:, lambda df: ['A', 'B']]

          A         B
a  1.282479  0.946747
b  0.960616  1.148967
c -0.812031 -0.408394
d -0.076554 -1.116968
e -0.560559 -2.004797
f -1.314003 -0.156767

In [5]:
df1.iloc[:, lambda df: [0, 1]]

          A         B
a  1.282479  0.946747
b  0.960616  1.148967
c -0.812031 -0.408394
d -0.076554 -1.116968
e -0.560559 -2.004797
f -1.314003 -0.156767

In [6]:
df1[lambda df: df.columns[0]]

a    1.282479
b    0.960616
c   -0.812031
d   -0.076554
e   -0.560559
f   -1.314003
Name: A, dtype: float64