In [11]:
import numpy as np
import pandas as pd

In [12]:
df2 = pd.read_csv('./data/201711_F3_1_8_2330.csv', encoding='big5', 
                   error_bad_lines=False,header=None,names=["日期", "成交股數", "成交金額", "開盤價"
                                                            , "最高價", "最低價", "收盤價", "漲跌價差", "成交筆數"]) 
print(df2)
df=pd.DataFrame(df2)
print(df.iloc[:,5])

                   日期           成交股數   成交金額    開盤價    最高價    最低價  收盤價   漲跌價差  \
106/11/01  20,465,054  4,975,624,502  243.5  245.0  241.5  242.5 -0.5  6,464
106/11/02  16,309,342  3,940,181,714  242.0  242.5  240.5  241.0 -1.5  5,912
106/11/03  18,327,682  4,386,122,470  240.5  241.0  238.5  239.0 -2.0  5,621
106/11/06  21,029,515  5,063,670,900  243.5  244.0  239.0  239.5  0.5  6,601
106/11/07  21,689,261  5,266,500,464  242.0  244.0  241.5  244.0  4.5  6,729
106/11/08  14,579,103  3,536,455,029  243.0  243.5  242.0  242.5 -1.5  4,610
106/11/09  21,366,949  5,151,628,572  240.5  243.0  240.0  241.0 -1.5  6,339
106/11/10  15,061,296  3,629,826,936  240.0  242.0  239.5  240.5 -0.5  4,465

           成交筆數
106/11/01   NaN
106/11/02   NaN
106/11/03   NaN
106/11/06   NaN
106/11/07   NaN
106/11/08   NaN
106/11/09   NaN
106/11/10   NaN
106/11/01    242.5
106/11/02    241.0
106/11/03    239.0
106/11/06    239.5
106/11/07    244.0
106/11/08    242.5
106/11/09    241.0
106/11/10    240.5
Name: 最低價, dtype: float64
106/11/01    485.0
106/11/02    482.0
106/11/03    478.0
106/11/06    479.0
106/11/07    488.0
106/11/08    485.0
106/11/09    482.0
106/11/10    481.0
Name: 最低價, dtype: float64

In [13]:
print(dfa2.shape)
print(dfa2.info())

(8, 9)
<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, 106/11/01 to 106/11/10
Data columns (total 9 columns):
日期      8 non-null object
成交股數    8 non-null object
成交金額    8 non-null float64
開盤價     8 non-null float64
最高價     8 non-null float64
最低價     8 non-null float64
收盤價     8 non-null float64
漲跌價差    8 non-null object
成交筆數    0 non-null float64
dtypes: float64(6), object(3)
memory usage: 640.0+ bytes
None